# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Data folders
data/
dataset/
datasets/
raw_data/
processed_data/
train/
test/
valid/
images/

# Temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db